@media (max-width:1199px) {

#section-two #two-sale {
  width: 97%;
  margin-left: 14px;
}
}
@media (max-width:990px) {
	#section-two{
		margin-top: 20px;
	}
	#section-two #two-sale{
		margin-left: 12px;
	}
	#section-two #two-two{
		width: 100%;
		border-top: 1px solid white;
	}
   #section-four #four-one .four-two {
    margin-top: 50px;
}

}
@media (max-width:1330px) {


}



 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 5vh;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
#toogle-btn{
  display: none;
}

@media (max-width:990px) {

  #toogle-btn{
    display: inline-block;
  position: 
}
#toogle-ul{
  display: none !important;
}
}